<div class="main-page">
    <div class="page-title">
        <h2>
            Welcome to Users Sample(IndexDB Complex example)
        </h2>
    </div>
    <div class="">
        <div class="area">
            <div class="area-on">
                <label class="com"><b>Filters</b></label>
                <select class="com" [(ngModel)]="users.filters.field">
                    <option value="">Select</option>
                    <option value="age">Age</option>
                    <option value="balance">Balence</option>
                    <option value="email">Email</option>
                    <option value="name">Name</option>
                </select>
                <select class="com" [(ngModel)]="users.filters.operator">
                    <option value="">Select</option>
                    <option [ngValue]="option" *ngFor="let option of users.operators">{{option.value}}</option>
                </select>
            </div>
        </div>
        <div class="area">
            <div class="area-on" *ngIf="users.filters.operator.type=='single'">
                <input [(ngModel)]="users.filters.firstField" class="com" type="text" />
            </div>
            <div class="area-on" *ngIf="users.filters.operator.type=='double'">
                <input [(ngModel)]="users.filters.firstField" class="com" type="text" /> To
                <input [(ngModel)]="users.filters.secondField" class="com" type="text" />
            </div>
            <button type="button" *ngIf="users.filters.operator.type" (click)="filterUser()">Filter</button>
        </div>


    </div>

    <table>
        <tr>

            <th>Name</th>
            <th>Contact</th>
            <th>Age</th>
            <th>Balence</th>
            <th>Friends</th>
        </tr>
        <tr *ngFor="let user of users.list">

            <td>{{user.name}}</td>
            <td>{{user.company}}</td>
            <td>{{user.age}}</td>
            <td>{{user.balance}}</td>
            <td>{{user.friendsCount}}</td>
        </tr>
    </table>
    <div class="pagination">
        <a href="javascript:void(0);" (click)="changePage(1)">&laquo;</a>
        <a href="javascript:void(0);" (click)="changePage(page)" [ngClass]="{'active' : (users.pageObject.currentPage==page)}" *ngFor="let page of users.pageObject.pages">{{page}}</a>
        <a href="javascript:void(0);" (click)="changePage(users.pageObject.pages.slice(-1))">&raquo;</a>
    </div>
</div>